
  
  body, .jumbotron {
    /* The image used */
    background-image: url("images/sky-background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #weather-image {
    margin-top:20px;
    margin-bottom:20px;
    width:200px;
    height:200px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }

  button:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(255, 21, 21, 0.87);
  }